<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BestKorea.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RoidRage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BestKorea.Properties.Settings>
            <setting name="Current" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="gpus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>GeForce GTX 1080</string>
                        <string>Radeon RX 580</string>
                        <string>Radeon R9 Fury</string>
                        <string>GeForce GTX 1060 6GB</string>
                        <string>GeForce GTX 1080 TI</string>
                        <string>Nvidia Titan XP</string>
                        <string>Radeon R9 Nano</string>
                        <string>Radeon R9 390X</string>
                        <string>Radeon R9 Fury X</string>
                        <string>Radeon R9 390</string>
                        <string>Radeon RX 580</string>
                        <string>Radeon RX 560</string>
                        <string>GeForce GTX 1070</string>
                        <string>Radeon RX 380</string>
                        <string>Radeon RX 480</string>
                        <string>Radeon RX 470</string>
                        <string>Radeon RX 460</string>
                        <string>Radeon R9 360X</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="InstalledGPU" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1szb </string>
                        <string>1Ex </string>
                        <string>247exchange </string>
                        <string>24change</string>
                        <string>796</string>
                        <string>Alcurex</string>
                        <string>alfacashier</string>
                        <string>alts</string>
                        <string>anxpro</string>
                        <string>askcoin</string>
                        <string>basebit</string>
                        <string>bit2c</string>
                        <string>bitebi9</string>
                        <string>bitex</string>
                        <string>bitbay</string>
                        <string>bitcoin.com</string>
                        <string>bitcoin.net</string>
                        <string>bitcointoyou</string>
                        <string>Bitcurex</string>
                        <string>Bitfinex</string>
                        <string>bitflyer</string>
                        <string>bitkonan</string>
                        <string>bitmex</string>
                        <string>bitnz</string>
                        <string>bitonic</string>
                        <string>bitorado</string>
                        <string>bitso</string>
                        <string>bitstamp</string>
                        <string>Bittrex </string>
                        <string>bittylicious</string>
                        <string>bitx/market</string>
                        <string>Bleutrade </string>
                        <string>bloombit </string>
                        <string>bt</string>
                        <string>btc2day </string>
                        <string>btc38 </string>
                        <string>btc100 </string>
                        <string>btcbox </string>
                        <string>btcchina </string>
                        <string>btc-e </string>
                        <string>btcexchange </string>
                        <string>btcgreece</string>
                        <string>btcpool </string>
                        <string>btctrader </string>
                        <string>btcxchange </string>
                        <string>bter </string>
                        <string>Blaketrader </string>
                        <string>bx </string>
                        <string>c-cex </string>
                        <string>campbx </string>
                        <string>ccedk </string>
                        <string>cex </string>
                        <string>chameleonbit </string>
                        <string>chbtc </string>
                        <string>clevercoin </string>
                        <string>coinbase </string>
                        <string>coincheck</string>
                        <string>coinffeine </string>
                        <string>coinfloor </string>
                        <string>coingather </string>
                        <string>coinmate </string>
                        <string>coingather </string>
                        <string>coinomat </string>
                        <string>coinsbank </string>
                        <string>coinspot </string>
                        <string>coinsquare </string>
                        <string>cryptofresh/assets </string>
                        <string>cryptomic </string>
                        <string>cryptonit</string>
                        <string>cryptopia </string>
                        <string>dashcurex </string>
                        <string>ecoin </string>
                        <string>empirex </string>
                        <string>empoex </string>
                        <string>exmo </string>
                        <string>eXrate </string>
                        <string>gdax </string>
                        <string>gemini </string>
                        <string>hitbtc </string>
                        <string>huobi </string>
                        <string>ice3x </string>
                        <string>Iconomi </string>
                        <string>indacoin </string>
                        <string>itbit </string>
                        <string>jubi</string>
                        <string>justcoin </string>
                        <string>kraken </string>
                        <string>leoxchange </string>
                        <string>litebit </string>
                        <string>livecoin </string>
                        <string>localbitcoins </string>
                        <string>loyalbit </string>
                        <string>melotic </string>
                        <string>mercuryex </string>
                        <string>metaexchangefo </string>
                        <string>mexbt </string>
                        <string>monatr </string>
                        <string>monetago</string>
                        <string>mycellium </string>
                        <string>negociecoins </string>
                        <string>x-e </string>
                        <string>okcoin </string>
                        <string>poloniex </string>
                        <string>quadrigacx </string>
                        <string>quoine </string>
                        <string>shapeshift southxchange therocktrading traderowbtc usecryptos</string>
                        <string>vaultoro </string>
                        <string>vircurex </string>
                        <string>yobit </string>
                        <string>yuanbaohui </string>
                        <string>yunbi </string>
                        <string>zaif</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>False</value>
            </setting>
        </BestKorea.Properties.Settings>
        <RoidRage.Properties.Settings>
            <setting name="Current" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="gpus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>GeForce GTX 1080</string>
                        <string>Radeon RX 580</string>
                        <string>Radeon R9 Fury</string>
                        <string>GeForce GTX 1060 6GB</string>
                        <string>GeForce GTX 1080 TI</string>
                        <string>Nvidia Titan XP</string>
                        <string>Radeon R9 Nano</string>
                        <string>Radeon R9 390X</string>
                        <string>Radeon R9 Fury X</string>
                        <string>Radeon R9 390</string>
                        <string>Radeon RX 580</string>
                        <string>Radeon RX 560</string>
                        <string>GeForce GTX 1070</string>
                        <string>Radeon RX 380</string>
                        <string>Radeon RX 480</string>
                        <string>Radeon RX 470</string>
                        <string>Radeon RX 460</string>
                        <string>Radeon R9 360X</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="InstalledGPU" serializeAs="String">
                <value>Unknown</value>
            </setting>
        </RoidRage.Properties.Settings>
    </userSettings>
</configuration>